<div ng-controller="NavBarCtrl" ng-cloak>
  <md-content class="md-padding">
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-button ng-href="#/pin" name="addPin">Add Pin</md-button>
      <md-button ng-href="#/board" name="addPin">Add Board</md-button>
      <md-button ng-href="#/view" name="viewBoard">View Board</md-button>
      <md-button ng-click="logout()" name="logout" ng-show="loggedIn">Logout</md-button>
    </md-nav-bar>
  </md-content>
</div>

